body {
    background-color: #3f3f3f;
    color: white;
}

.grid {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    width: 300px;
    height: 300px;
    margin: 10px auto;
    border-radius: 5px;
    background-color: #2d2d2d;
    border: 5px solid #363636;
}

.grid>div {
    background-color: midnightblue;
    margin: 5px;
    border-radius: 5px;
}
